
    
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Purchase</th>
      <th scope="col">Cost in USD</th>
      <th scope="col">Cost in {{this.charityUnit}}</th>
      <th scope="col">Necessity</th>
    </tr>
    </thead>

    <tbody>
        <tr *ngFor="let purchase of purchases; index as i">
            <td>{{ i+1 }}</td>
            <td>{{ purchase.date}} </td>
            <td>{{ purchase.item}} </td>
            <td>{{ purchase.dollarCost }} </td>
            <td>{{ charity1.lifeSaved/purchase.dollarCost }} </td>
            <td>{{ purchase.necessity}} </td>

    </tbody>
  </table>

  <div>
    <button class="add-button">Add Purchase</button>
  </div>


  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

