<h1>
  </h1>
  
  <div>
    <button Calculate spend (click)="getSpendByNecessity()">

    </button>
  </div>



  <div class="bargraph">
    <canvas
        baseChart
        [chartType]="'bar'"
        [datasets]="chartData"
        [labels]="labels"
        [options]="chartOptions"
        [legend]="true"
        [colors]="colors"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>


  <div class="bargraph">
    <canvas
        baseChart
        [chartType]="'line'"
        [datasets]="chartData"
        [labels]="labels"
        [options]="chartOptions"
        [legend]="true"
        [colors]="colors"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>


  <div class="bargraph">
    <canvas
        baseChart
        [chartType]="'doughnut'"
        [datasets]="chartData"
        [labels]="labels"
        [options]="chartOptions"
        [legend]="true"
        [colors]="colors"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>



  <div class="bargraph">
    <canvas
        baseChart
        [chartType]="'bar'"
        [datasets]="chartData"
        [labels]="labels"
        [options]="chartOptions"
        [legend]="true"
        [colors]="colors"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>