
<form>
<div class="form-group">
    <label for="purchaseForm"> What is your annual income? </label>
    <input type="purchase" class="form-control" id="purchaseForm" aria-describedby="purchaseHelp" placeholder="Enter purchase">
</div>
<div class="form-group">
    <label for="purchaseForm"> How much do you give to charity every year? </label>
    <input type="purchase" class="form-control" id="purchaseForm" aria-describedby="purchaseHelp" placeholder="Enter purchase">
</div>

</form>
<button type="submit" class="btn btn-primary">Submit</button>