<form>
    <div class="form-group">
      <label for="purchaseForm"> What did you buy? </label>
      <input type="purchase" class="form-control" id="purhcaseForm" aria-describedby="purhcaseHelp" placeholder="Enter purchase i.e. groceries">
    </div>
    <div class="form-group">
      <label for="purchaseForm"> How much did it cost? </label>
      <input type="number" class="form-control" id="purchaseForm" aria-describedby="purchaseHelp" placeholder="Enter dollar amount i.e. 18.39">
    </div>
    <div class="form-group">
        <label for="formControlRange">How necessary was this purchase</label>
        <input type="range" class="form-control-range" id="formControlRange">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>